// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.py-lg-4
    .container
        a.navbar-brand.text-uppercase.fw-bold.d-lg-none(href='index.html') Start Bootstrap
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mx-auto
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='index.html', data-i18n="nav.home")
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='about.html', data-i18n="nav.about")
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='products.html', data-i18n="nav.products")
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='store.html', data-i18n="nav.store")
                li.nav-item.px-lg-4.dropdown
                    a.nav-link.dropdown-toggle.text-uppercase.lang-select(href='#', data-toggle="dropdown", role="button", id="navbarDropdown",aria-haspopup="true", aria-expanded="false") Language
                        div.dropdown-menu.lang-select(aria-labelledby="navbarDropdown")
                            a.dropdown-item(href='#', data-locale='es') Español
                            a.dropdown-item(href='#', data-locale='en') English
